# Backend (FastAPI + TimescaleDB + MQTT) Config
DATABASE_URL=postgresql://admin:adminpassword@timescaledb:5432/predictive_maintenance
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
# HOST=0.0.0.0
# PORT=3000

# Frontend (Next.js) Config
# Ganti dengan IP Public AWS Anda jika di deploy
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
